
      body {
        text-align: center;
        font-family: sans-serif;
        background-color: #fefefe;
        padding-top: 50px;
      }
      img {
        max-width: 300px;
        border-radius: 10px;
        margin-top: 20px;
      }
      #dogButton {
        padding: 10px 20px;
        font-size: 18px;
        background-color: #ffc107;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }